*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

body{
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p1/47024418-vermelho-raposa-em-pe-alerta-dentro-deserto-panorama-gratis-foto.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*carrossel*/
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin: 0;
    min-height: 100vh; /*altura minima*/

}
header{
    width: 100vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    height: 100px;
    padding: 0 20px 0 20px;
    position: fixed;
    flex-direction: row;
    align-items: center;
}

header img{
    width: 100px;
    height: 100px;
    object-fit: fill;
}

.esquerda{
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    gap: 10px;
    justify-content: start;
}

.esquerda h1 {
    align-content: center;
    color:antiquewhite;
}

.direita h1{
    color:antiquewhite;

}

.direita{
    display: flex;
    flex-direction: row;
}

.container{

    width: 100%;
    height: 100vh;
    border: 2px solid purple;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}


.buscar ul{

    gap: 20px;
    display: flex;
    flex-direction: row;
}

.buscar li{
    list-style: none;
}

a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    transition: .6s;
}

a:hover{
    border-bottom: 1px solid;
    transition: .6s;
    scale: 1.05;
}

@media(max-width: 400px){
    .Pulseiras{ 
        grid-template-columns:1fr;
    }
    
}


.esquerda_container{
    width: 30%;
    height: 100%;
    border: 2px solid blue;
}

.direita_container{
    width: 70%;
    height: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    gap: 10px;
}

.cards_fotos{
    width: 100%;
    height: 50%;
    border: solid 2px yellow;
    bottom: auto;
}

.info_bottom{
    width: 100%;
    height: 10%;
    border: solid 2px rgb(255, 217, 0);
    bottom: auto;}

.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden; /*permitir que conteúdos grandes possam caber em uma página, usando barras de rolagem*/
    height: 500px;
    width: 500px;
    position: relative;

}

.container_carrossel{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    flex-direction: row;

}

#img{
    object-fit: cover;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 0;

}